.movie_list:hover{
  opacity:.6;
  .fa{
    font-size:25px;
    cursor:pointer;
  }
}

.movie_list{
  padding:5px;
  float:left;
  height:$tmb-height;
  margin-bottom:$lrg-gap;
  background-color:white;
  box-shadow:$box-shadow;
  margin-left:20px;

  .fa{
    box-shadow:none;
    margin:auto 5px;
    font-size:0px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: font 0.2s ease
  }

  .fa-heart{
    color:red;
    font-size:25px;
  }

  .fa-heart-o{
    color:red;
  }

  img{
    max-width:200px;
    height:$tmb-height;
  }

  h4{
    margin-bottom:10px;
    width:100%;
    font-size:$md-font;
    color:$title-text-color;
  }

  .good_rating{
    color:green;
  }

  .bad_rating{
    color:red;
  }

  h5{
    margin:0px;
    font-size:$sml-font;
    color:$text-color;
  }

  .overview{
    margin-bottom:$sml-gap;
    color:$text-color;
    font-size:$sml-font;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 100px;      /* fallback */
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .two_fourth{
    text-align:left;
    position:relative;
    margin-top:-20px
  }

  .content_container{
    margin-left:10px;
  }
}
